<%= form_for @concert, :html => { :class => "form-horizontal concert" } do |f| %>

    <% if @concert.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@concert.errors.count, "error") %> prohibited this concert from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @concert.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@concert[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :program, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :program, :class => 'form-control' %>
    </div>
    <%= error_span(@concert[:program]) %>
  </div>
  <div class="control-group">
    <%= f.label :stage, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stage, :class => 'form-control' %>
    </div>
    <%= error_span(@concert[:stage]) %>
  </div>
  <div class="control-group">
    <%= f.label :map, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :map, :class => 'form-control' %>
    </div>
    <%= error_span(@concert[:map]) %>
  </div>
  <div class="control-group">
    <%= f.label :information, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :information, :class => 'form-control' %>
    </div>
    <%= error_span(@concert[:information]) %>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :content, :class => 'form-control' %>
    </div>
    <%= error_span(@concert[:content]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            concerts_path, :class => 'btn btn-default' %>

<% end %>
