<%- model_class = Concert -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @concert.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:program) %>:</strong></dt>
  <dd><%= @concert.program %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stage) %>:</strong></dt>
  <dd><%= @concert.stage %></dd>
  <dt><strong><%= model_class.human_attribute_name(:map) %>:</strong></dt>
  <dd><%= @concert.map %></dd>
  <dt><strong><%= model_class.human_attribute_name(:information) %>:</strong></dt>
  <dd><%= @concert.information %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @concert.content %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              concerts_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_concert_path(@concert), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              concert_path(@concert),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
