<table  class="table" >
  <thead>
    <tr>
      <title>アイネク</title>
    </tr>
  </thead>

<h2>選択した月の挟み込みリストが表示されます。</h2>
<table class="table">
  <tr>
    <td>2014</td>
    <td><%= link_to '1月', concert_2014_1_path %></td>
    <td><%= link_to '2月', concert_2014_2_path %></td>
    <td><%= link_to '3月', concert_2014_3_path %></td>
    <td><%= link_to '4月', concert_2014_4_path %></td>
    <td><%= link_to '5月', concert_2014_5_path %></td>
    <td><%= link_to '6月', concert_2014_6_path %></td>
    <td><%= link_to '7月', concert_2014_7_path %></td>
    <td><%= link_to '8月', concert_2014_8_path %></td>
    <td><%= link_to '9月', concert_2014_9_path %></td>
    <td><%= link_to '10月', concert_2014_10_path %></td>
    <td><%= link_to '11月', concert_2014_11_path %></td>
    <td><%= link_to '12月', concert_2014_12_path %></td>
  </tr>
</tbody>

<tbody>
  <tr>
    <td>2015</td>
    <td><%= link_to '1月', concert_2015_1_path %></td>
    <td><%= link_to '2月', concert_2015_2_path %></td>
    <td><%= link_to '3月', concert_2015_3_path %></td>
    <td><%= link_to '4月', concert_2015_4_path %></td>
    <td><%= link_to '5月', concert_2015_5_path %></td>
    <td><%= link_to '6月', concert_2015_6_path %></td>
    <td><%= link_to '7月', concert_2015_7_path %></td>
    <td><%= link_to '8月', concert_2015_8_path %></td>
    <td><%= link_to '9月', concert_2015_9_path %></td>
    <td><%= link_to '10月', concert_2015_10_path %></td>
    <td><%= link_to '11月', concert_2015_11_path %></td>
    <td><%= link_to '12月', concert_2015_12_path %></td>
  </tr>
</tbody>

</table>
