<table  class="table" >
  <thead>
    <tr>
      <title>アイネク</title>
    </tr>
  </thead>

<h2>選択した月の挟み込みリストが表示されます。</h2>
  <tbody>
    <tr>
      <td>2014</td>
      <td><%= link_to '1月', 'concert/2014/jan' %></td>
      <td><%= link_to '2月', 'concert/2014/feb' %></td>
      <td><%= link_to '3月', 'concert/2014/mar' %></td>
      <td><%= link_to '4月', 'concert/2014/apr' %></td>
      <td><%= link_to '5月', 'concert/2014/may' %></td>
      <td><%= link_to '6月', 'concert/2014/jun' %></td>
      <td><%= link_to '7月', 'concert/2014/jul' %></td>
      <td><%= link_to '8月', 'concert/2014/aug' %></td>
      <td><%= link_to '9月', 'concert/2014/sep' %></td>
      <td><%= link_to '10月', 'concert/2014/oct' %></td>
      <td><%= link_to '11月', 'concert/2014/nov' %></td>
      <td><%= link_to '12月', 'concert/2014/dec' %></td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <td>2015</td>
      <td><%= link_to '1月', 'concert/2015/jan' %></td>
      <td><%= link_to '2月', 'concert/2015/feb' %></td>
      <td><%= link_to '3月', 'concert/2015/mar' %></td>
      <td><%= link_to '4月', 'concert/2015/apr' %></td>
      <td><%= link_to '5月', 'concert/2015/may' %></td>
      <td><%= link_to '6月', 'concert/2015/jun' %></td>
      <td><%= link_to '7月', 'concert/2015/jul' %></td>
      <td><%= link_to '8月', 'concert/2015/aug' %></td>
      <td><%= link_to '9月', 'concert/2015/sep' %></td>
      <td><%= link_to '10月', 'concert/2015/oct' %></td>
      <td><%= link_to '11月', 'concert/2015/nov' %></td>
      <td><%= link_to '12月', 'concert/2015/dec' %></td>
    </tr>
  </tbody>
</table>
