<table  class="table" >
  <thead>
    <tr>
      <title>アイネク</title>
    </tr>
  </thead>

<h2>選択した月の挟み込みリストが表示されます。</h2>
  <tbody>
    <tr>
      <td>2014</td>
      <td><%= link_to '1月', concert_2014_jan_path %></td>
      <td><%= link_to '2月', concert_2014_feb_path %></td>
      <td><%= link_to '3月', concert_2014_mar_path %></td>
      <td><%= link_to '4月', concert_2014_apr_path %></td>
      <td><%= link_to '5月', concert_2014_may_path %></td>
      <td><%= link_to '6月', concert_2014_jun_path %></td>
      <td><%= link_to '7月', concert_2014_jul_path %></td>
      <td><%= link_to '8月', concert_2014_aug_path %></td>
      <td><%= link_to '9月', concert_2014_sep_path %></td>
      <td><%= link_to '10月', concert_2014_oct_path %></td>
      <td><%= link_to '11月', concert_2014_nov_path %></td>
      <td><%= link_to '12月', concert_2014_dec_path %></td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <td>2015</td>
      <td><%= link_to '1月', concert_2015_jan_path %></td>
      <td><%= link_to '2月', concert_2015_feb_path %></td>
      <td><%= link_to '3月', concert_2015_mar_path %></td>
      <td><%= link_to '4月', concert_2015_apr_path %></td>
      <td><%= link_to '5月', concert_2015_may_path %></td>
      <td><%= link_to '6月', concert_2015_jun_path %></td>
      <td><%= link_to '7月', concert_2015_jul_path %></td>
      <td><%= link_to '8月', concert_2015_aug_path %></td>
      <td><%= link_to '9月', concert_2015_sep_path %></td>
      <td><%= link_to '10月', concert_2015_oct_path %></td>
      <td><%= link_to '11月', concert_2015_nov_path %></td>
      <td><%= link_to '12月', concert_2015_dec_path %></td>
    </tr>
  </tbody>

  <%= form_tag({ :controller => 'concerts', :action => 'show' }, { :method => :get, :id => 'fm' }) do %>
  <p>2014年
  1月<%= radio_button 'page', 'area', 1, {} %>
  2月<%= radio_button 'page', 'area', 2, {}  %>
  3月<%= radio_button 'page', 'area', 3, {} %>
  </p>
    <%= submit_tag 'その月へGO！' %>
  <% end %>
</table>
