<h1>Listing concerts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Program</th>
      <th>Stage</th>
      <th>Map</th>
      <th>Information</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <td><%= link_to '1月', '' %></td>
    <td><%= link_to '2月', '' %></td>
    <td><%= link_to '3月', '' %></td>
    <td><%= link_to '4月', '' %></td>
    <td><%= link_to '5月', '' %></td>
    <td><%= link_to '6月', '' %></td>
    <td><%= link_to '7月', '' %></td>
  </tbody>
</table>

<br>

<%= link_to 'New Concert', new_concert_path %>
