<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @concert.name %>
</p>

<p>
  <strong>Program:</strong>
  <%= @concert.program %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @concert.stage %>
</p>

<p>
  <strong>content</strong>
  <pre><%= @concert.content %></pre>
</p>

<p>
  <strong>Information:</strong>
  <%= @concert.information %>
</p>

<p>
  <strong>Map:</strong>
  <%= @access.hall_name %>
  <%= @access.spot %>
  <%= @access.train %>
</p>


<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
