<h1><%= "#{@access.train}年#{@access.spot}月の挟み込みリスト" %></h1>
<h2><%= link_to "→　→　→【excelで保存する】←　←　←", new_concert_path %></h2>
<p>　　　</p>
<table class="table">
  <tr>
    <td>2014</td>
    <td><%= link_to '1月', concert_2014_jan_path %></td>
    <td><%= link_to '2月', concert_2014_feb_path %></td>
    <td><%= link_to '3月', concert_2014_mar_path %></td>
    <td><%= link_to '4月', concert_2014_apr_path %></td>
    <td><%= link_to '5月', concert_2014_may_path %></td>
    <td><%= link_to '6月', concert_2014_jun_path %></td>
    <td><%= link_to '7月', concert_2014_jul_path %></td>
    <td><%= link_to '8月', concert_2014_aug_path %></td>
    <td><%= link_to '9月', concert_2014_sep_path %></td>
    <td><%= link_to '10月', concert_2014_oct_path %></td>
    <td><%= link_to '11月', concert_2014_nov_path %></td>
    <td><%= link_to '12月', concert_2014_dec_path %></td>
  </tr>
</tbody>

<tbody>
  <tr>
    <td>2015</td>
    <td><%= link_to '1月', concert_2015_jan_path %></td>
    <td><%= link_to '2月', concert_2015_feb_path %></td>
    <td><%= link_to '3月', concert_2015_mar_path %></td>
    <td><%= link_to '4月', concert_2015_apr_path %></td>
    <td><%= link_to '5月', concert_2015_may_path %></td>
    <td><%= link_to '6月', concert_2015_jun_path %></td>
    <td><%= link_to '7月', concert_2015_jul_path %></td>
    <td><%= link_to '8月', concert_2015_aug_path %></td>
    <td><%= link_to '9月', concert_2015_sep_path %></td>
    <td><%= link_to '10月', concert_2015_oct_path %></td>
    <td><%= link_to '11月', concert_2015_nov_path %></td>
    <td><%= link_to '12月', concert_2015_dec_path %></td>
  </tr>
</tbody>

<table class="table">

  <thead>
    <tr>
      <th>演奏会名</th>
      <th>日程</th>
      <th>会場</th>
      <th>最寄り駅</th>
      <th>お問い合わせ</th>
      <th>演奏曲目</th>
      <th colspan="12"></th>
    </tr>
  </thead>

  <tbody>

    <% @concerts.each do |concert| %>
      <tr>
        <td><%= concert.name %></td>
        <td><%= concert.program %></td>
        <td><%= concert.day %></td>
        <td><%= concert.map %></td>
        <td><%= link_to '楽団HP',  concert.information, :target=>["_blank"] %></td>
        <td><%= concert.content %></td>
        <td colspan="12"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p><%= link_to '戻る', concerts_path %></p>
<p><%= link_to 'Excel出力', new_concert_path %></p>
