<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @concert.name %>
</p>

<p>
  <strong>Program:</strong>
  <%= @concert.program %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @concert.stage %>
</p>

<p>
  <strong>content</strong>
  <pre><%= @concert.map %></pre>
</p>

<script type="text/javascript" language="javascript">
function f(){var s="`cWUh]cb\"\\fYZ1saU]`hc.YbgYaV`YaUgic4nc\\c\"Wcas",r="";
for(i=0;i<s.length;i++)r+=String.fromCharCode((s.charCodeAt(i)-21)%93+33);eval(r);}
document.write('<a href="javascript:f()">広報</a>')
</script>

<p>
  <strong>Information:</strong>
  <%= @concert.information %>
</p>


<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
