<h1>これでもshowページなんです。</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Program</th>
      <th>Stage</th>
      <th>Map</th>
      <th>Information</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concerts.each do |concert| %>
      <tr>
        <td><%= concert.name %></td>
        <td><%= concert.program %></td>
        <td><%= concert.stage %></td>
        <td><%= concert.map %></td>
        <td><%= concert.information %></td>
        <td><%= concert.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '一覧に戻る', concerts_path %>
