
<p><%= link_to 'Excel出力したい', new_concert_path %></p>
<table class="table">
  <tr>
    <td><%= link_to '1月', concert_jan_path %></td>
    <td><%= link_to '2月', concert_feb_path %></td>
    <td><%= link_to '3月', concert_mar_path %></td>
    <td><%= link_to '4月', concert_apr_path %></td>
    <td><%= link_to '5月', concert_may_path %></td>
    <td><%= link_to '6月', concert_jun_path %></td>
    <td><%= link_to '7月', concert_jul_path %></td>
    <td><%= link_to '8月', concert_aug_path %></td>
    <td><%= link_to '9月', concert_sep_path %></td>
    <td><%= link_to '10月', concert_oct_path %></td>
    <td><%= link_to '11月', concert_nov_path %></td>
    <td><%= link_to '12月', concert_dec_path %></td>
    <td><%= link_to '一覧に戻る', concerts_path %></td>
  </tr>
</table>

<table class="table">

  <thead>
    <tr>
      <th>演奏会</th>
      <th>日程</th>
      <th>会場</th>
      <th>会場の住所（最寄り駅＋地図に変更したいかも）</th>
      <th>お問い合わせ</th>
      <th>曲目</th>
      <th colspan="12"></th>
    </tr>
  </thead>

  <tbody>
    <% @concerts.each do |concert| %>
      <tr>
        <td><%= concert.name %></td>
        <td><%= concert.program %></td>
        <td><%= concert.stage %></td>
        <td><%= concert.map %></td>
        <td><%= link_to '楽団HP',  concert.information, :target=>["_blank"] %></td>
        <td><%= concert.content %></td>
        <td colspan="12"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p><%= link_to '一覧に戻る', concerts_path %></p>
<p><%= link_to 'Excel出力したい', new_concert_path %></p>
