<h1><%= "#{request.path_info.gsub("/concert/","").gsub("/","年")}月の挟み込みリスト" %></h1>
<h2><%= link_to "→　→　→【excelで保存する】←　←　←", new_concert_path %></h2>
<p>　　　</p>
<table class="table">
  <tr>
    <td>2014</td>
    <td><%= link_to '1月', concert_2014_1_path %></td>
    <td><%= link_to '2月', concert_2014_2_path %></td>
    <td><%= link_to '3月', concert_2014_3_path %></td>
    <td><%= link_to '4月', concert_2014_4_path %></td>
    <td><%= link_to '5月', concert_2014_5_path %></td>
    <td><%= link_to '6月', concert_2014_6_path %></td>
    <td><%= link_to '7月', concert_2014_7_path %></td>
    <td><%= link_to '8月', concert_2014_8_path %></td>
    <td><%= link_to '9月', concert_2014_9_path %></td>
    <td><%= link_to '10月', concert_2014_10_path %></td>
    <td><%= link_to '11月', concert_2014_11_path %></td>
    <td><%= link_to '12月', concert_2014_12_path %></td>
  </tr>
</tbody>

<tbody>
  <tr>
    <td>2015</td>
    <td><%= link_to '1月', concert_2015_1_path %></td>
    <td><%= link_to '2月', concert_2015_2_path %></td>
    <td><%= link_to '3月', concert_2015_3_path %></td>
    <td><%= link_to '4月', concert_2015_4_path %></td>
    <td><%= link_to '5月', concert_2015_5_path %></td>
    <td><%= link_to '6月', concert_2015_6_path %></td>
    <td><%= link_to '7月', concert_2015_7_path %></td>
    <td><%= link_to '8月', concert_2015_8_path %></td>
    <td><%= link_to '9月', concert_2015_9_path %></td>
    <td><%= link_to '10月', concert_2015_10_path %></td>
    <td><%= link_to '11月', concert_2015_11_path %></td>
    <td><%= link_to '12月', concert_2015_12_path %></td>
  </tr>
</tbody>

<table class="table">

  <thead>
    <tr>
      <th>演奏会名</th>
      <th>日程</th>
      <th>会場</th>
      <th>最寄り駅</th>
      <th>お問い合わせ</th>
      <th>演奏曲目</th>
      <th colspan="12"></th>
    </tr>
  </thead>

  <tbody>

    <% @concerts.each do |concert| %>
      <tr>
        <td><%= concert.name %></td>
        <td><%= concert.program %></td>
        <td><%= concert.stage %></td>
        <td><%= concert.station %></td>
        <td>
          <% unless concert.information.empty? %>
          <%= link_to '楽団HP',  concert.information, :target=>["_blank"] %>
          <% end %>
        </td>
        <td>
          <ol>
            <% concert.content.each do |concert_list| %>
            <li><%= concert_list %></li>
            <% end %>
          </ol>
        </td>
        <td colspan="12"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p><%= link_to '戻る', concerts_path %></p>
<p><%= link_to 'Excel出力', new_concert_path %></p>
